* {
    box-sizing: border-box;
}

html {
    /* todo: this is probably too big.  16px default */
    font-size:26px;
}
body {
    background-color:gainsboro;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    
}
button {
    font:inherit;
}
h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.card {
    background:whitesmoke;
    width: 5rem;
    aspect-ratio: 5/7;
    border-radius: 0.6rem;
    padding:0.5rem;
    box-shadow: 
    0px 4px 2px rgba(0, 0, 0, 0.25), 
    0px 2px 6px rgba(0, 0, 0, 0.15);
}
.predictionButtons{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.predictionButtons button {
    background: white;
    color:black;
    padding:0.4rem;
}
.predictionButtons button:hover {
    background: pink;
}

.buttonsAndCurrentCard{
    display:flex;
    flex-direction: row;
    gap: 2rem;
}

.cardList {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.game {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    
}
.gameRow {
    align-self: stretch;
    background: green;
    padding: 1rem;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap: 5rem;
}
.highlitCardHolder {
    outline: 3px dashed red;

}